/* colors */
@font-face {
  font-family: "SSTMedium";
  src: url("assets/SSTMedium.ttf");
}
@font-face {
  font-family: "SSTBold";
  src: url("assets/SSTBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "SSTLight";
  src: url("assets/SSTLight.ttf");
  font-weight: lighter;
}
body {
  background-color: white;
  font-family: "SSTMedium";
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btnBlue {
  background-color: #0070cc;
  color: white;
  font-family: "SSTBold";
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid white;
}
.btnBlue:hover {
  background-color: #005499;
}
.btnBlue:active, .btnBlue:focus {
  box-shadow: 0 0 0 2px #005499;
}

nav {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 9999;
}
nav .sonyTopBar {
  background-color: black;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .sonyTopBar .sonyLogo {
  width: 80px;
}
nav .linksTopBar {
  height: 40px;
  display: flex;
  justify-content: space-between;
}
nav .linksTopBar .leftTopBar {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
}
nav .linksTopBar .leftTopBar .psLogo {
  width: 34px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 15px;
}
nav .linksTopBar .leftTopBar button {
  border: none;
  background-color: white;
  color: #999;
  font-size: 0.8125rem;
  font-family: "SSTBold";
  margin-right: 13px;
  cursor: pointer;
}
nav .linksTopBar .leftTopBar button:after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: 900;
  margin-left: 5px;
}
nav .linksTopBar .leftTopBar button:visited {
  color: #999;
}
nav .linksTopBar .leftTopBar button:hover {
  color: #0070cc;
}
nav .linksTopBar .rightTopBar {
  display: flex;
  align-items: center;
}
nav .linksTopBar .rightTopBar .btnConnect {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  margin-right: 40px;
}
nav .linksTopBar .rightTopBar .fa-magnifying-glass {
  margin-right: 20px;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  background-color: white;
}
header .psStoreLogo {
  width: 197px;
  margin-left: 20px;
  position: absolute;
}
header .headerLinks {
  margin: auto;
}
header .headerLinks a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  font-family: "SSTBold";
}
header .headerLinks a:hover {
  background-color: #ebeef0;
}
header .headerLinks .active {
  background-color: #ebeef0;
}
header .headerLinks .active:hover {
  background-color: #CED5DA;
}

.banner {
  width: 100%;
  height: 74vh;
  background-color: white;
  z-index: 6;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);
}
.banner .promoImage {
  width: 100%;
  height: 403px;
  margin-top: 60px;
  position: relative;
}
.banner .promoImage .promoBackground {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;
}
.banner .promoImage .promoGame {
  position: absolute;
  height: 111%;
  right: 24%;
  bottom: 0;
  z-index: 9;
}
.banner .promoImage .promoText {
  height: 80%;
  position: absolute;
  z-index: 5;
  right: 55%;
  top: 10%;
}
.banner .promoTitle {
  font-size: 1.625rem;
  font-family: "SSTLight";
  line-height: 1.25;
  letter-spacing: 0.1px;
  margin-left: 80px;
  margin-top: 30px;
}
.banner .promoBtn {
  right: 0;
  position: absolute;
  margin-right: 70px;
  padding: 10px;
  margin-top: -30px;
}
.banner .promoSubTitle {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #6b6b6b;
  font-family: "SSTLight";
  margin-left: 80px;
  margin-top: 40px;
}

.bannerPlus, .bannerStars {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 100px;
}

.games {
  width: 100%;
  position: relative;
  top: 4rem;
  margin-bottom: 220px;
}
.games .gamesTop {
  display: flex;
  justify-content: center;
}
.games .gamesTop div {
  padding-right: 1rem;
}
.games .gamesTop div img {
  width: 20.75rem;
  border-radius: 8px;
}
.games .gamesTop div img:hover {
  filter: brightness(90%);
}
.games .gamesCollections {
  margin-top: 4rem;
  margin-left: 80px;
}
.games .gamesCollections .gamesNewTitle {
  font-size: 1.625rem;
  font-family: "SSTLight";
  line-height: 1.25;
  letter-spacing: 0.1px;
  margin-top: 30px;
}
.games .gamesCollections .gamesAll a {
  color: #0070cc;
  text-decoration: none;
  right: 80px;
  padding-right: 5px;
  padding-top: 7px;
  position: absolute;
  font-family: "SSTBold";
}
.games .gamesCollections .gamesAll a:hover {
  background-color: #ebeef0;
  padding: 7px 15px 7px 15px;
  margin-right: -10px;
  border-radius: 20px;
  color: #005499;
}
.games .gamesCollections .gamesList {
  display: flex;
}
.games .gamesCollections .gamesList a {
  text-decoration: none;
}
.games .gamesCollections .gamesList a:hover {
  filter: brightness(90%);
}
.games .gamesCollections .gamesList a div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 13.5rem;
  margin-right: 1rem;
}
.games .gamesCollections .gamesList a div .gamesNewSub {
  line-height: 1.5;
  color: black;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.games .gamesCollections .gamesList a div img {
  width: 100%;
  border-radius: 8px;
}
.games .gamesUpcoming {
  margin-left: 80px;
  margin-top: 5rem;
}
.games .gamesUpcoming .gamesUpcomingTitle {
  font-size: 1.625rem;
  font-family: "SSTLight";
  line-height: 1.25;
  letter-spacing: 0.1px;
}
.games .gamesDemo {
  margin-left: 80px;
  margin-top: 5rem;
}
.games .gamesDemo .gamesDemoTitle {
  font-size: 1.625rem;
  font-family: "SSTLight";
  line-height: 1.25;
  letter-spacing: 0.1px;
}
.games .gamesDemo .gamesList .gamesConsole {
  color: white;
  font-family: "SSTBold";
  letter-spacing: 0.5px;
  line-height: 1.25;
  border: 1px solid white;
  width: 23px;
  background-color: rgba(18, 19, 20, 0.6);
  position: absolute;
  bottom: 82px;
  font-size: 10px;
  margin-left: 7px;
  text-align: center;
}
.games .gamesDemo .gamesList .gamesFree {
  font-family: "SSTLight";
  color: #363636;
  margin-top: 5px;
}

.plus {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plus .plusTitle {
  line-height: 1.25;
  letter-spacing: 0.1px;
  font-size: 1.625rem;
  margin-bottom: 50px;
}
.plus .plusRows {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 92%;
}
.plus .plusRows img {
  width: 332px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.plus .plusRows img:hover {
  filter: brightness(90%);
}

/*# sourceMappingURL=style.css.map */
