.games {
    width: 100%;
    position: relative;
    top: 4rem;
    margin-bottom: 220px;

    .gamesTop {
        display: flex;
        justify-content: center;

        div {
            padding-right: 1rem;

            img {
                width: 20.75rem;
                border-radius: 8px;

                &:hover {
                    filter: brightness(90%);
                }
            }
        }
    }

    .gamesCollections {
        margin-top: 4rem;
        margin-left: 80px;

        .gamesNewTitle {
            font-size: 1.625rem;
            font-family: $SSTLight;
            line-height: 1.25;
            letter-spacing: 0.1px;
            margin-top: 30px;
        }

        .gamesAll a {
            color: $psblue;
            text-decoration: none;
            right: 80px;
            padding-right: 5px;
            padding-top: 7px;
            position: absolute;
            font-family: $SSTBold;

            &:hover {
                background-color: $psgrey;
                padding: 7px 15px 7px 15px;
                margin-right: -10px;
                border-radius: 20px;
                color: $bluehover;
            }
        }

        .gamesList {
            display: flex;

            a {
                text-decoration: none;

                &:hover {
                    filter: brightness(90%);
                    // TODO add border on hover
                }

                div {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.5rem;
                    width: 13.5rem;
                    margin-right: 1rem;

                    .gamesNewSub {
                        line-height: 1.5;
                        color: black;
                        font-size: 1rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }
        }         
    }

    .gamesUpcoming {
        margin-left: 80px;
        margin-top: 5rem;

        .gamesUpcomingTitle {
            font-size: 1.625rem;
            font-family: $SSTLight;
            line-height: 1.25;
            letter-spacing: 0.1px;
        }
    }

    .gamesDemo {
        margin-left: 80px;
        margin-top: 5rem;

        .gamesDemoTitle {
            font-size: 1.625rem;
            font-family: $SSTLight;
            line-height: 1.25;
            letter-spacing: 0.1px;
        }

        .gamesList {
            .gamesConsole {
                color: white;
                font-family: $SSTBold;
                letter-spacing: 0.5px;
                line-height: 1.25;
                border: 1px solid white;
                width: 23px;
                background-color: rgba(18,19,20,.6);
                position: absolute;
                bottom: 82px;
                font-size: 10px;
                margin-left: 7px;
                text-align: center;
            }

            .gamesFree {
                font-family: $SSTLight;
                color: $bodytext;
                margin-top: 5px;
            }
        }
    }
}